.collection h1 {
  margin: 20px auto;
  margin-bottom: 30px;
}

.list-preview {
  padding: 10px;
}

.list-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.list-preview a {
  text-decoration: none;
  color: black;
}

.list-info {
  color: grey;
  display: flex;
}

.list-info .description {
  white-space: nowrap;
  overflow: hidden;
  max-width: 530px;
  text-overflow: ellipsis;
}

.list-info .date-created {
  margin-left: auto;
}

.blog-search {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-search input {
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 15px;

  width: 350px;
  padding: 5px 3px 5px 10px;

  color: grey;
  font-family: Roboto;
}

.blog-search .date-search {
  height: 18px;
}
