/* List view */
.list-details .title {
  margin-bottom: 10px;
}

.list-details .info {
  display: block;
  align-items: center;
  color: grey;
}

.info .date-created {
  font-size: 13px;
  margin-left: auto;
}

.list-details .delete {
  font-size: 13px;
  background-color: rgb(227, 0, 0);
  color: white;

  border: none;
  border-radius: 2px;

  padding: 8px;
  transition: opacity, 0.15s;

  cursor: pointer;
}

.list-details .delete:hover {
  opacity: 0.85;
}

.submit-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.adding-task {
}

.buttons {
  margin-top: 30px;
}

.add-task-input {
  margin-left: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  width: 500px;
}

.add-task-button {
  font-size: 13px;
  background-color: rgb(104, 104, 174);
  color: white;

  border: none;
  border-radius: 2px;

  margin-left: auto;
  padding: 8px;

  transition: opacity, 0.15s;

  cursor: pointer;
}

.add-task-button:hover {
  opacity: 0.85;
}
