@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: Roboto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background: rgb(104, 104, 174);

  height: 50px;
  width: auto;
  border-radius: 3px;

  padding: 0 10px;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: rgb(104, 104, 174);
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:visited {
  color: rgb(104, 104, 174);
}

/* Home + List Previews */

.content {
  max-width: 700px;
  margin: 5px auto;
  padding: 10px;
}

.collection h1 {
  margin: 20px auto;
}

.list-preview {
  padding: 10px;
}

.list-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.list-preview a {
  text-decoration: none;
  color: black;
}

.list-preview .description {
  color: grey;
}

/* List view */
.list-details .title {
  margin-bottom: 10px;
}

.list-details .info {
  display: flex;
  color: grey;
}

.info .date-created {
  margin-left: auto;
}

.list-details .delete {
  border: none;
  border-radius: 2px;
  background-color: rgb(227, 0, 0);
  color: white;
  font-size: 15px;
  padding: 10px;
  transition: opacity, 0.15s;

  cursor: pointer;
}

.list-details .delete:hover {
  opacity: 0.8;
}

.list-details .tasks {
  margin-top: 10px;
}
